<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <br>
                    <div class="span4">
                        Created By Pratik Malang
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
