<div class="navbar navbar-fixed-top" style="top:2px">
    <div class="navbar-inner">
        <div class="container" style="width:auto;margin:10px 30px;color:brown;">
            <span style="font-style=bold;font-family:Rockwell;font-size:50px;">Recipe Manager</span>
            - <span style="font-style=bold;font-family:Rockwell;font-size:15px;">Check the Latest Here</span>
        </div>
    </div>
</div>
