<div>
    <span class="add_new_user_here"align="left">Add New User</span>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    FullName : &nbsp; <input type="text" id="fullname_newuser" placeholder="Please Enter FullName"/>
    <div class="clear"></div>
    <div class="clear"></div>
    UserName : <input type="text" id="username_newuser" placeholder="Please Enter UserName"/>
    <div class="clear"></div>
    <div class="clear"></div>
    Password : &nbsp;<input type="password" id="password_newuser" placeholder="Please Enter Password"/>
    <div class="clear"></div>
    <div class="clear"></div>
    UserType : &nbsp; 
    <select class="text_usertype" id="usertype_newuser" placeholder="Select">
        <option value="admin">Admin</option>
        <option value="moderator">Moderator</option>
        <option value="creator">Creator</option>
    </select>
    <div class="clear"></div>
    <div class="clear"></div>
    <button style="float:right;" id="add_New_User" class="btn btn-primary" type="button" ">
 Add New User
    </button>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
